#
# Software Name: Orange Design System (iOS)
# SPDX-FileCopyrightText: Copyright (c) 2021 - 2023 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license.
#

# Classic
*~
.DS_Store
**/.DS_Store

# Configuration file with sensitive data or secrets
OrangeDesignSystemDemo/OrangeDesignSystemDemo/AppDemoConfig.xcconfig

# Produced by Brew
/Brewfile.lock.json

# Produced by CocoaPods
OrangeDesignSystemDemo/Pods/

# Produced by Xcode
OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/xcuserdata/
OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcworkspace/xcuserdata/
OrangeDesignSystemDemo/DerivedData/

# Produced by Swift Package Manager
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/package.xcworkspace/

# Produced by Fastlane
**/fastlane/*.env
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/**/*.png
**/fastlane/test_output

# Produced by .gitlab-ci.yml
/.cache/
