#
# Software Name: Orange Design System (iOS)
# SPDX-FileCopyrightText: Copyright (c) 2021 - 2023 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license.
#

--swiftversion 5

--exclude Resources/CodeGen/**,Pods/**

--enable isEmpty
--disable blankLinesAroundMark,blankLinesAtStartOfScope,redundantRawValues

--closingparen same-line
--decimalgrouping 3,4
--extensionacl on-declarations
--ifdef no-indent
--semicolons never
--stripunusedargs closure-only
